.no-space-wrap {
  white-space: nowrap;
}

.no-border-top {
  border-top: 0;
}

.no-suggestions {
  text-align: center;
  margin: 10pt;
  color: var(--text-faint);
}

.text-left {
  text-align: left;
}
